body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
    text-align: center;
}
h3{
    font-size: 30px;
    font-family: 'Cormorant Garamond', serif;
}
.green-color{
    color: green;
}
.border-width{
    border-left: 6px solid blueviolet;
}
.section{
    display: flex;
    margin-bottom: 150px;
}
.flexible-container{
    display: flex;
}
.half-width{
    width: 50%;
    padding: 5%;
}
.half-width img{
    width: 50%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(gray, tomato);
    padding: 10px 40px;
    font-weight: 700;
    border-radius: 5px;
}
.mission-item{
    width: 20%;
    margin-left: 5%;
    margin-right: 0%;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 10px 10px 40px gray;
    border-image: 2px;
}
.mission-item img{
    width: 50%;
}
footer{
    text-align: center;
    background-color: lightgreen;
}